---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> Hi!</h1> 
			<p>
				So...
				I had this website project in the backburner for a while, and now I've decided to commit and update it monthly with info about my new book club!

			</p>
			<ul>
				
			</ul>

			<p>
				:D
			</p>
		</main>
		<Footer />
	</body>
</html>
