---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> Hi!</h1> 
			<p>
				So...
				
				After years of doing my fair share of trauma-dumping over instagram stories, I've finally decided to put it all on written form.
				My name is Lez and I'm a colombian f studying and living in Germany for over more than a year now. I'm trying to work through and understand my brain while doing my masters in Simulations Sciences, which, believe me, sounds more fun than it actually is.

				I'm scared of everything, all the time. And writing about my experiences usually helps with the anxiety and crippling deppression episodes I sometimes encounter while trying to figura out exactly what am I studying.
				Since I miss therapy and mental health care in Germany is a very complicated manner, I created this blog to air out what's eating on me lately. I can't promise being consistent, but I can promise to attempt on fillin out entries with nothing but relentless crap writing.
				Although I would love nothing more that to make sense, since this is my own version of a journal, I can't promise I will.
				I also want to do a section on things related to my subject I find amusing (and, oh, there's plenty of those). We'll see how that turns out.
				Thank you for reading and, hopefully, not sharing with anybody. This is a safe space for me to dwell on existential crisis and circle back to when I feel like decyphering my own train of thought.
				
				Also, I will most likely blog in different languages (Spanish, English and hopefully German). Thank you.
			</p>
			<ul>
				
			</ul>

			<p>
				:D
			</p>
		</main>
		<Footer />
	</body>
</html>
